body {
	font-family: Arial, Helvetica, sans-serif;
}

#stats { 
	margin-top:15px;
	text-align: center;
	font-size: 20px;
}

#gallery {
	width:548px;
	margin:10px auto;
}

.photo {
	display: inline-block;
	margin:30px;
	padding:10px;
}

.photo:nth-child(1n) {
	-webkit-transform:rotate(-5deg);
}

.photo:nth-child(2n) { 
	-webkit-transform:rotate(5deg);
}

.active{
	border-style:solid;
	border-width: 10px;
	margin: 20px;
}

label{
	font-size: 12px;
	text-decoration: none;
	color: green;
}

a {
	text-decoration: none;
	font-size: 12px;
}

